.text-field-container {
    width: 55.875rem;
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: transparent;
}

.text-field-container .field-name {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
    font-style: normal;
    line-height: 17px;
    float: left;
}

.text-field-container .field-name div {
    float: left;
    white-space: nowrap;
}

.text-field-container .field-name .tips-box {
    margin-left: 0.5rem;
    width: auto;
    height: auto;
    float: left;
}

.text-field-container .field-name .tips-box button {
    padding: 0rem;
    width: 1rem;
    height: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
    float: left;
}

.text-field-container .field-name .tips-box .content {
    padding: 0.5rem 0.75rem;
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    transform: translateX(2.5rem);
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(92, 99, 105, 0.15);
    float: left;
    background: white;
}

.text-field-container .field-name .tips-box .content::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0.5rem;
    left: -1rem;
    float: left;
}

.text-field-container .field-name .tips-box .content .title {
    /* margin: 0rem 0.25rem; */
    width: auto;
    height: auto;
    font-size: 1.15rem;
    display: block;
    float: left;
    color: black;
}

.text-field-container .field-name .tips-box .content .checklist {
    margin-top: 0.5rem;
    width: auto;
    height: auto;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 0.25rem;
    float: left;
}

.text-field-container .field-name .tips-box .content .checklist .item {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    float: left;
}

.text-field-container .field-name .tips-box .content .checklist .item img {
    margin-left: -0.25rem;
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    float: left;
}

.text-field-container .field-name .tips-box .content .text-description {
    font-size: 1rem;
    color: black;
}

.text-field-container .field-box,
.text-field-container .field-box-error,
.text-field-container .field-box-disable {
    padding: 0 0.75rem;
    width: 55.875rem;
    height: 4rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    transition: all 0.15s;
    border-radius: 2px;
    /* background-color: #fff; */
    /* bg color of text field */
}

.text-field-container .field-box-error {
    border-color: #dc3545;
}

.text-field-container .field-box-disable {
    color: #dcdcdc;
    background-color: #ececec;
    border: 1px solid #d8d8d8;
}

.text-field-container .field-box:focus-within {
    border-color: transparent;
    /* box-shadow: 0 0 0 0.2rem rgba(0, 61, 128, 0.25); */
}

.text-field-container .field-box-error:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(166, 29, 42, 0.25);
}

.text-field-container .field-box .field,
.text-field-container .field-box-error .field,
.text-field-container .field-box-disable .field {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
    background-color: transparent !important;
    outline: none;
    border: none;
    float: left;
}

.text-field-container .field-box img,
.text-field-container .field-box-error img,
.text-field-container .field-box-disable img {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: right;
}

.text-field-container .helper-text,
.text-field-container .helper-text-error,
.text-field-container .helper-text-disable {
    margin-top: 0.25rem;
    width: inherit;
    height: 1.1rem;
    display: flex;
    align-items: flex-end;
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: left;
    float: left;
    color: rgba(204, 199, 199, 0.85);
    font-weight: 600;
    white-space: nowrap;
}

.text-field-container .helper-text-error {
    color: #dc3545;
}

.text-field-container .helper-text-disable {
    color: rgba(0, 0, 0, 0.35);
}

.text-field-container .field-box .prefix,
.text-field-container .field-box-error .prefix,
.text-field-container .field-box-disable .prefix {
    margin-right: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.35);
    font-family: sans-serif;
}

.text-field-container .field-box .suffix,
.text-field-container .field-box-error .suffix,
.text-field-container .field-box-disable .suffix {
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.35);
    font-family: sans-serif;
}